/* Webfont: GorhamNorton */@font-face {
    font-family: 'GorhamNorton';
    src: url('GorhamNorton29decB.eot'); /* IE9 Compat Modes */
    src: url('GorhamNorton29decB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GorhamNorton29decB.woff') format('woff'), /* Modern Browsers */
         url('GorhamNorton29decB.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

