/* Webfont: FiraSans-Regular */@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('FiraSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

